<h1>Top 10 reasons to use DeskAt</h1>
<h3 class="alert alert-info" role="alert">Make the best out of your remote hires</h3>
<p>No body likes excuses!   If you hire freelancers and don't want to hear excuses such as (I've had no interent connection, family took over my time, or blah blah blah) to make the best out of your money, you can rent a work space for them during
<br/>
<h3 class="alert alert-info" role="alert"> Make some extra money to cover your office rent and utitily</h3>
<p> Do you know that you can make a good amount of your rent just by renting two desks for 200 SAR a week for each one of them?  Actually, that will make you about 1600 SAR a month which makes 19,200 SAR a year!  That's is just some good easily earned cash.</P> 
<br/>
<h3 class="alert alert-info" role="alert"> Make new friends and find hot talents</h3>
<p> As you know, more and more smart people are starting to work as freelancers.  Mostly, these brilliant people work from home or cafes.  Imagine having a smar....</P> 
<br>